name: CI
on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: windows-2025-vs2026
    steps:
    - uses: actions/checkout@v4
    - name: Setup Developer PowerShell
      uses: egor-tensin/vs-shell@v2
      with:
          arch: x86
    - name: Build loc_json
      working-directory: ./thprac
      run: cl /Isrc\3rdparties\yyjson /nologo /EHsc /O2 /std:c++20 loc_json.cpp .\src\3rdParties\yyjson\yyjson.c /Fe:loc_json.exe
    - name: Build thprac
      run: msbuild thprac.sln -t:restore,build -p:RestorePackagesConfig=true,Configuration=Release
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: thprac
        path: |
            Release/thprac.exe
            Release/thprac.pdb
