name: CI
on:
  push:
    branches:
      - master
      - loc_json_buildtime

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup MSBuild environment
      uses: microsoft/setup-msbuild@v2
      with:
          msbuild-architecture: x86
    - name: Build loc_json
      working-directory: ./thprac
      run: cl.exe /nologo /EHsc /O2 /std:c++20 loc_json.cpp /Fe:loc_json.exe"
    - name: Build thprac
      run: msbuild thprac.sln -t:restore,build -p:RestorePackagesConfig=true,Configuration=Release
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: thprac
        path: |
            Release/thprac.exe
            Release/thprac.pdb
